.rounded-circle {
  /*border-radius: 50%!important;*/
}

.coursecard:hover {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgba(255,255,255,0.05);
  border-radius: 50px;
}

.coursecard {
  margin-top: 10px;
  margin-bottom: 10px;
}

.coursera-image {
  height: auto;
  margin: 60px;
}

.repocard:hover {
  background: rgba(255,255,255,0.05);
  border-radius: 50px;
}

.github-card {
  font-family: 'ABeeZee';
}

.repo-card {
  margin-top: 10px;
  margin-bottom: 10px;
}

