.Skills {
  background: #e8e3e4;
  color: #0e0e0e;
  padding: 6px;
  border-radius: 2px;
  margin: 3px;
}

.Skills:hover {
  background: #3d3d3d;
  color: #ff8a00;
  padding: 6px;
  border-radius: 2px;
  margin: 3px;
}

.Education {
  background: #0e0e0e;
  color: #ff8a00;
  padding: 6px;
  margin: 3px;
  border-top-color: rgba(255,138,0,0.35);
}

.Education:hover {
  background: linear-gradient(to right, #0e0e0e,#0e0e0e,#0e0e0e, #212529);
  color: #ff8a00;
  padding: 6px;
  margin: 3px;
  border-top-color: #ff8a00;
}

